@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Rubik&display=swap');
:root{
  --red: #e93c3c;
  --white: #ffffff;
  --platinum: #ececec;
  --black: #130000;
  --gris: #201d1d;
}
.red{
  color: var(--red);
}
.top6rem{
  margin-top: 6rem;
}
.choose-peru{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: calc(10px + 1vmax);
  margin: 8rem 5vw calc(5vh + 1rem) 5vw;
  border-radius: 20px;
  position: relative;
}
.choose-peru h2{
  text-align: center;

  font-size: clamp(30px, calc(2vmax + 1rem), calc(2vmax + 1rem));
}
header{
  display: grid;
  grid-template-columns: 45vw 1fr;
  justify-content: space-between;
  align-items: center;
  position: relative;
  gap: calc(3vmax + 10px);
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 0 0 10px rgb(150,150,150);
  width: 100%;
}
header article{
  position: relative;
  width: 100%;
  height: 45vw;
}
header section{
  padding: calc(1vh + 1rem) 20px;
}
header section h3{
  font-size: clamp(calc(1rem + 20px), calc(2vmax + 1vmin + 20px), calc(2vmax + 1vmin + 20px));
  margin: 0;
  padding: 10px 0;
}
header section h3 strong{
  color: var(--secondary);
}
header section p{
  font-size: clamp(20px, calc(1vmax + 5px), calc(1vmax + 5px));
  margin: 0;
}
header article img{
  border-radius: 20px;
}
@media screen and (max-width: 950px) {
  header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  header section{
    padding: 10px;
  }
  header article{
    width: 90vw;
    height: calc(90vw / 1.5);
  }
  .choose-peru header article{
    height: 90vw;
  }
}
.page{
  padding: calc(40px + 9rem) 5vw 2rem 5vw;
}
.rota180grados{
  position: relative;
  transform: rotate(180deg);
}
::-webkit-scrollbar{
  width: 1rem;
}
::-webkit-scrollbar-track{
  background: var(--white);
}
::-webkit-scrollbar-thumb{
  background-color: var(--red);
  border-radius: 10px;
}
.wa-button{
  position: fixed;
  transition: .5s;
  z-index: 3;
  bottom: calc(5vh);
  right: calc(5vw);
  background-color: #48b855;
  border-radius: 50%;
  padding: 10px;
}
.wa-button:hover{
  transform: translateY(-5px) rotate(15deg);
}
*{
  padding: 0;
  font-weight: 500;
  font-family: 'Rubik', sans-serif;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

body{overflow-x: hidden;}
a{
  text-decoration: none;
  color: inherit;
}
.grid-2{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 1rem 0 0 0 ;
  justify-content: center;
  gap: 5vmax;
}
.grid-2 article{
  width: clamp(300px, 40%, 40%);
  display:flex;
  padding: 0;
  margin: 0;
  flex-direction: column;
  background-color: var(--platinum);
  box-shadow: 0 0 20px var(--black);
  border-radius: 10px;
  transition: .5s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.destinations h4{
  position: relative;
  margin: 0;
  text-align: center;
  z-index: 2;
  padding: 10px 0;
}
.destinations article:hover{
  background: var(--red);
  color: var(--white);
  transform: translateY(-10px);
}
.flex-wrap{
  display: flex;
  flex-wrap: wrap;
  grid-gap: 15px;
}
.img-container img{
  border-radius: 5px;
  position: relative;
  z-index: 0;
  width: 100%;
  height: 300px;
}
.grid-3{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1rem 5%;
  margin-bottom: 2rem;
}
.grid-3 article{
  width: clamp(300px, 25vw, 25vw);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  transition: 1s;
  box-shadow: 0 0 10px var(--black);
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}
.grid-3 .img{
  position: relative;
  height: clamp(250px, 20vw, 20vw);
  width: 100%;
}
.grid-3 article h4, .grid-2 article h4{
  font-weight: 600;
  font-size: clamp(20px, calc(1vmax + 1vmin), calc(1vmax + 1vmin));
  margin: 10px 2%;
}
.grid-2 article h4{
  font-size: clamp(30px, calc(2vmax + 1vmin), calc(2vmax + 1vmin));
}
.grid-3 article svg{
  font-size: calc(3vmax + 5vmin + 20px);
  margin: 1rem 0;
  color: var(--red);
}
.backdrop{
  position: fixed;
  z-index: 6;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: #1300009b;
  display: grid;
  place-items: center;
}
.loading-container{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: var(--white);
  display: grid;
  place-items: center;
  width: 100vw;
  font-size: calc(6vmax + 5rem);
  height: 100vh;
}
.loading-container svg{
  font-size: calc(6vmax + 5rem);
  color: var(--red);
}
button{
  padding: 10px;
  border: none;
  transition: 500ms;
  position: relative;
  border-radius: 5px;
}
button:hover{
  transform: translateY(-5px);
}
.btn-primary{
  background-color: var(--red);
  color: var(--white);
}
.btn-secondary{
  background-color: var(--black);
  color: var(--white);
}
.btn-tertiary{
  background-color: var(--white);
  color: var(--black);
}
.btn-instagram{
  background: linear-gradient(45deg,#fd5949,#d6249f,#285AEB);
  color: var(--white);
}
.btn-whatsapp{
  background-color: #48b855 ;
  color: var(--white);
}
.custom-shape-divider-top-1644340731 {
  position: fixed;
  top: 6rem;
  z-index: 5;
  left: 0;
  width: 100%;
  overflow: hidden;
  transition: 1s;
  line-height: 0;
}

.custom-shape-divider-top-1644340731 svg {
  position: relative;
  display: block;
  transition: 1s;
  width: calc(100% + 1.3px);
  height: 39px; 
}

.custom-shape-divider-top-1644340731 .shape-fill-white {
  fill: var(--white);
  transition: 1s;
}

.custom-shape-divider-top-1644340731 .shape-fill-red {
  fill: var(--red);
  transition: 1s;
}

footer{
  display: flex;
  position: relative;
  z-index: 4;
  flex-direction: row;
  padding: 1rem 5vw;
  background-color: var(--black);
  grid-gap: 10px;
  color: var(--white);
  align-items: center;
  justify-content: center;
}
footer svg{
  display: grid;
  place-items: center;
  font-size: calc(2vh + 10px);
}
.form{
  width: clamp(300px, 40%, 40%);
  display: flex;
  flex-direction: column;
  padding: 2rem 5%;
  border-radius: 5px;
  border: 5px dashed var(--red);
}
.form label{
  font-weight: 600;
  font-size: calc(5px + 1rem);
}
.form div{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.form input, .form textarea{
  margin-top: 5px;
  padding: 5px;
  font-size: 1rem;
  transition: 1s;
  border-radius: 5px;
  background-color: var(--white);
  border: 3px solid var(--black);
  margin-bottom: 2rem;
}
.form input:focus, .form textarea:focus{
  border-color: var(--red);
  background-color: var(--platinum);
}
.form div button{
  font-size: calc(1rem + 10px);
}
.form button.inactive{
  opacity: .4;
}
.ubicacion{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.ubicacion p{
  margin-bottom: 1rem;
}
.ubicacion iframe{
  width: clamp(300px, calc(30vmax + 30vmin), calc(30vmax + 30vmin));
  height: clamp(200px, calc(20vmax + 20vmin), calc(20vmax + 20vmin));
  box-shadow: 0 0 20px 3px var(--black);
  border-radius: 10px;
  border: none;
}
.gmail{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem 5vw;
  gap: 10px;
}
.gmail p, .gmail button{
  font-size: clamp(20px, calc(10px + 1vmax), calc(10px + 1vmax));
}
.gmail input{
  border-radius: 5px;
  text-align: center;
  padding: 5px;
  margin: 10px 0;
  background-color: transparent;
  border: 3px solid var(--black);
  font-size: clamp(20px, calc(1vmax + 10px), calc(1vmax + 10px));
}
.blog-form{
  margin-top: 6rem;
  background-color: var(--platinum);
  padding: calc(3vh + 1rem) 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.blog-form textarea, .blog-form input{
  font-size: calc(1rem + 1vmax);
  padding: 10px;
  transition: 1s;
  border: none;
  border-radius: 10px;
  width: clamp(300px, 80%, 80%);
}
.blog-form textarea:focus, .blog-form input:focus{
  box-shadow: 0 0 10px var(--red);
}
.blog-article{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0 auto calc(2rem + 3vh) auto;
  width: clamp(300px, 60%, 60%);
}
.blog-article.top7rem{
  margin: 7rem auto calc(2rem + 3vh) auto;
}
.blog-article h1{
  font-size: clamp(calc(1rem + 18px + 1vmin), calc(2vmax + 10px), calc(2vmax + 10px));
  padding: 3vh 0 1vh 0;
}
.blog-article span{
  margin-bottom: calc(1vh + 10px);
}
.blog-article img{
  width: clamp(300px, 100%, 100%);
  border-radius: 10px;
  margin-bottom: 1rem;
}
.blog-article h3{
  font-size: calc(1vmax + 1vmin + 1rem);
}
.blog-article iframe{
  margin: auto;
  width: clamp(300px, calc(30vw + 20vh), calc(30vw + 20vh));
  height: clamp(200px, calc(20vw + 20vh), calc(20vw + 20vh));
  border-radius: 20px;
  border: 0;
  box-shadow: 0 0 10px var(--red);
}
.btn input{
display: none;
}
.btn{
  background-color: var(--white);
  padding: 10px;
  color: var(--black);
  border-radius: 10px;
}
.by{
  margin-bottom: 20px;
  font-size: calc(1vmin + 1rem);
}
.blog-article p{
  font-size: calc(1rem + 1vmin);
  margin: 5px 0 calc(3vh + 1rem) 0;
}
.blog-main{
  margin-top: 5rem;
  padding: calc(3vh + 10px) 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.blog-main p{
  text-align: center;
  margin: 10px 0;
  font-size: clamp(18px, calc(1vmax + 10px), calc(1vmax + 10px));
}
.blog-main section, .other-articles section{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: calc(3vmax + 3vmin);
  position: relative;
  margin-top: 3vh;
}
.blog-main section article, .other-articles section article{
  position: relative;
  background-color: var(--white);
  box-shadow: 0 0 10px var(--red);
  border-radius: 10px;
  width: clamp(300px, 25vw, 25vw);
}
.blog-main section article img, .other-articles section article img{
  width: 100%;
  border-radius: 10px;
}
 .blog-main div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 15px 3%;
  gap: 1rem;
 }
 .blog-main div h5{
  font-size: calc(20px + 1vmax);
 }
 .blog-main div button{
  font-size: calc(10px + 1vmax);
 }
 .go-to-oxacorredores{
  background-color: var(--platinum);
  position: relative;
  padding: calc(3vh + 5px) 2%;
  border-radius: 20px;
  box-shadow: 0 0 10px var(--red);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.go-to-oxacorredores h3{
  font-size: clamp(30px, calc(2vmax + 10px), calc(2vmax + 10px));
  margin: calc(1vh + 15px) 0;
}
.go-to-oxacorredores button{
  font-size: clamp(25px, calc(1vmax + 10px), calc(1vmax + 10px));
}
.other-articles {
  background-color: var(--platinum);
  padding: calc(2vh + 1rem) 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 0 10px var(--red);
}
.other-articles h4{
  font-size: clamp(25px, calc(2vmax + 10px), calc(2vmax + 10px));
}
.other-articles section article{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.other-articles section article h5{
  font-size: clamp(20px, calc(1vmax + 10px), calc(1vmax + 10px + 1vmin));
  padding: calc(1vh + 10px) 5%;
}
.other-articles section article button{
  font-size: clamp(20px, calc(1vmax + 5px), calc(1vmax + 10px + 1vmin));
  margin-bottom: calc(1vh + 10px);
}
.imgs-blog{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: calc(1vmax + 10px);
}
.imgs-blog img{
  width: clamp(300px, 30%, 30%);
}